.page-title-box {
    height: 144px;
    width: 100%;
    border-radius: 20px;
    background-color: #1313e6;
    background-image: radial-gradient( circle, rgb(16 19 239),rgb(16 19 239),rgb(6 2 61));
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: #f3f2f2;
    margin-bottom: 32px;
    
}

.main-news {
    width: 100%;
    display: flex;
    margin-bottom: 32px;
    cursor: pointer;
    text-decoration: none;
}

.main-news-image {
    width: 55%;
    height: 416px;
    margin-right: 32px;
    border-radius: 20px;
    overflow: hidden;
   
}

.main-news-image img {
    height: 100%;
    margin-left: -8px;
}

.main-news-box {
    width: 45%;
    color: #021364;
}

.main-news-box h2 {
    font-size: 48px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.main-news-box p {
    font-size: 24px;
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.news-box {
    width: 328px;
    margin-bottom: 48px;
    overflow: hidden;
    cursor: pointer;
}

.image-box {
    height: 230px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 16px;

}
.image-box img {
    height: 100%;
}

.news-box a {
    text-decoration: none;
}
.news-box h2 {
    font-weight: 700;
    font-size: 20px;
    color: black;
    margin-bottom: 16px;
}

.news-box p {
    color: gray;
    height: 64px;
    overflow: hidden;

}

@media (max-width: 1088px) {
    .main-news {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-news-image {
        margin-right: 0px;
    }
    
    .main-news-box {
        width: 70%;
    }

    .news-list{
        justify-content: space-around;
    }
}

@media (max-width: 672px){
    .main-news-image {
        width: 100%;
    }
    .main-news-box {
        width: 100%;
    }
    .news-box {
        width: 464px;
    }

    .image-box {
        height: 256px;
    }

    .image-box img {
        width: 100%;
        height: auto;
    }

}
    
@media (max-width: 544px){
    .main-news-image img {
        margin-left: -77px;
    }

}

